﻿@model SendAndRecieveSMS.Models.SendMessageModel


<div class="forms-fields">
    @{
        using (Html.BeginForm("SendMySms", "Sms"))
        {
            <div class="field-area">
                <label class="AccessibleOnly">Message:</label> @this.Html.TextAreaFor(x => x.MyMessage, new { placeholder = "add your message" })
                <span>@Html.ValidationMessageFor(x => x.MyMessage)</span>
            </div>

            <input class="btn btn-reg" type="submit" value="Send your message" />
        }
    }
</div>


