﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    This is how to find us?
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:jamie.webcsltd@outlook.com">jamie.webcsltd@outlook.com</a>
</address>