﻿@using SendAndRecieveSMS.MyHelpers
@using Twilio.Types
@{
    ViewBag.Title = "Home Page";
    var allMessages = PageHelpers.GetMyMessages();
}

<div class="jumbotron" style="background:url(https://www.staffcircle.com/wp-content/uploads/2018/04/home-page-banner1.jpg) no-repeat center top;">
    <h1>Staff Circle</h1>
    <p class="lead">Welcome to your customer SMS Managment Console.</p>
    <p>Multi-Channel Employee Relationship Management</p>
    <p><a href="https://www.staffcircle.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> Send an SMS</h2>
        @{
            if (TempData["SmsSent"] != null)
            {
                <div class="alert alert-error">
                    <p class="message-info">@TempData["SmsSent"]</p>
                </div>

            }
            else
            {
                if (TempData["ErrMsg"] != null)
                {
                    <div class="alert alert-error">
                        <p class="message-info">@TempData["ErrMsg"]</p>
                    </div>

                }
            }

        }
        <p>
            Send an SMS to your Friend
        </p>
        <div>
            @Html.Partial("_SendSms")
        </div>
    </div>
    <div class="col-md-4">
        <h2>My Messages</h2>
        <p>
            @{ 
                

                foreach(var sms in allMessages.SmsMessages.OrderByDescending(x=>x.DataSent))
                {
                    DateTime? dateSent = sms.DataSent;
                    string sid = sms.sid;
                    PhoneNumber from = sms.FromNumber;
                    string toNumber = sms.ToNumber;
                    string messageBody = sms.MessageBody;

                    <span class="fill"><b>Date Sent: </b>@dateSent</span><br />
                    <span class="fill"><b>SID: </b>@sid</span><br />
                    <span class="fill"><b>From: </b>@from
                     <b> | To: </b>@toNumber</span><br />
                    <span class="fill"><b>Message: </b>@messageBody</span>
                }
            }
        </p>
    </div>
    <div class="col-md-4">
        <h2>Successfully Delivered Messages </h2>
        <p>here are a list of sms's that have been deliverd</p>
        @{


            int countSms = allMessages.SmsMessages.Where(x => x.MessageStatus.ToString().ToLower() == "delivered").Count();
            int failedSMS = allMessages.SmsMessages.Where(x => x.MessageStatus.ToString().ToLower() == "failed" || x.MessageStatus.ToString().ToLower() == "undelivered").Count();


                <span class="fill"><b>SMS's Delivered: </b>@countSms</span><br />
                <span class="fill"><b>SMS's Failed or Undelivered: </b>@failedSMS</span>
        }
    </div>
</div>